:root{
    --cor-texto-principal: #FFFFFF;
    --cor-texto-secundario: #333333;

    --cor-fundo-principal: #6F63D9;
    --cor-fundo-secundario: #EF634D;
    
}

header {
    display: flex;
    align-items: center;
}