:root{
    --cor-primaria: #091792;
    --cor-primaria: #5b9bfc;
}

body{
    background: #f7f7f7;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

.produto{
    background: #f6f7fc;
    border: 1px solid #091792;
    margin-bottom: 20px;
    padding: 20px;
}

.comprar{
    background-color: #091792;/*5b9bfc - tentativa inicial(azul mais claro)*/
    color: #FFFFFF;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 20px;

    font-weight: 600;
}