body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    background-image:
    linear-gradient(
        rgba(0,0,0,0.60),
        rgba(0,0,0,0.60)
    ),
    url("../Assets/CoffeePlantationImage.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.hero__header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 25px 5%;
}

    .hero__content{
        justify-self: center;
        width: 50%;
        height: 60%;

        .hero__title{
            display: flex;
            justify-content: center;
            color: var(--cor-branco);
        }

        .hero__subtitle{
            display: flex;
            justify-content: right;
            color: var(--cor-branco);
        }

        .hero__description{
            color: var(--cor-branco);
        }
    }