body{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.hero{

    min-height:100vh;

    background-image:
        linear-gradient(
            rgba(0,0,0,.6),
            rgba(0,0,0,.6)
        ),
        url("../Assets/CoffeePlantationImage.jpg");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    display:flex;
    flex-direction:column;

}

.hero__header{

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:25px 5%;

}

.hero__logo{
    font-family: var(--fonte-logo);
    color: var(--cor-branco);
    text-decoration: none;
    font-size: var(--titulo-3);
}

.hero__content{

    flex:1;

    display:flex;
    flex-direction:column;
    justify-content:center;

    width:50%;
    margin-left:8%;

    gap:20px;

}

.hero__title{

    color:var(--cor-branco);
    margin:0;

}

.hero__subtitle{

    color:var(--cor-branco);
    margin:0;

    text-align:right;

}

.hero__description{

    color:var(--cor-branco);

}

.hero__content .btn{

    width:fit-content;

}

.process{

    height:100vh;
    overflow:hidden;

    background-image:
        linear-gradient(
            rgba(0,0,0,.6),
            rgba(0,0,0,.6)
        ),
        url("../Assets/CoffeePlantationImage.jpg");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

}

.process__track{

    display:flex;

    width:300vw;
    height:100%;

}

.process__step{

    width:100vw;
    height:100vh;

    padding:0 10%;

    box-sizing:border-box;

    display:flex;
    justify-content:space-between;
    align-items:center;

    position:relative;

}

.process__number{

    position:absolute;

    top:70px;
    left:8%;

    font-size:8rem;
    font-weight:700;

    color:rgba(255,255,255,.1);

}

.process__content{

    width:45%;

}

.process__tag{

    color:#C79A63;

    text-transform:uppercase;

    letter-spacing:3px;

}

.process__title{

    margin:10px 0 20px;

    color:white;

}

.process__description{

    color:#d5d5d5;

    line-height:1.8;

}

.process__illustration{
    display: flex;
    justify-content: center;
    align-items: center;
}

.process__illustration img{
    width: 800px;
    height: auto;
}