:root{
    --bg-dark: #192332;
    --bg-main: #283C50;
    --bg-panel: #32465A;

    --warning: #F0C30F;
    --danger: #BE3728;
    --success: #2ECC71;

    --log-bg: #D2E6F5;

    --text: #FFFFFF;
    --text-secondary: #99A3AB;

    --accent-blue: #638CAB;
}

body{
    margin: auto;
    padding: auto;
    background-color: var(--bg-dark);    
}

#wrapper{
    font-family: Arial, Helvetica, sans-serif;
    height: 90%;
    width: 80%;
    background-color: var(--bg-main);
    border: 2px solid var(--bg-panel);
    margin: 20px;
    justify-self: center;
}

#header{
    color: var(--text);
    justify-self: center;
}

.titulo-sessao{
    background-color: var(--bg-panel);
    padding: 1px;
}